body {
    font-family: Arial;
    background-color: gainsboro;

  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    color: indigo;
    text-align: center;
  }
  
  table {
    border: 2px solid orchid;
    border-collapse: separate;
    border-spacing: 10px;
    margin: auto;
    margin-bottom: 50px;
  }
  
  td, th {
    padding: 10px;
    border: 1px solid;
  }

  th {
    background-color: orchid;
  }
  
  .tags {
    font-family: monospace;
    background-color: Cornsilk;
  }

  footer {
    text-align: center;
    font-family: monospace;
    font-weight: bold;
  }

  img {
    width: 30px;
    padding-right: 30px;
  }

  a {
    text-decoration: none;
  }

  .fa-brands {
    color: black;
  }
